body{
	background:#000 url(../images/activityimg/beijing.png) no-repeat center 165px;
}
.leftflow{
	width: 206px;
	height: 525px;
	position: absolute;
	left:50px;
	top:200px;
}
.rightflow{
	width: 206px;
	height: 525px;
	position: absolute;
	right:50px;
	top:200px;
}
.height_img{
	height: 210px;
	margin: 0 auto;
}
.left_padding{
	padding-left: 33px;
	padding-top: 20px;
}
.float_left{
	float: left;
}
.font_color{
	color: #bf2727;
}
.dl_margin{
	margin: 0 12px 10px 0;
}
.dl_padding{
	padding-bottom: 10px;
	
}
.bacgk_fff{
	background: #fff;
	
}
.pos_rel{
	position: relative;
}
.pos_ab{
	position: absolute;
}

.touming{
	opacity: 0.5;
}

.dd_padiing{
	padding-left: 10px;
}

.text_weight{
	font-weight: bold;
}

.big_text{
	font-size: 26px;
	color: #ff0000;
}



#shawanyi{
	overflow: hidden;
	
	width: 990px;
	margin: 986px auto 0;
}
#touming_tiao{
	background: #fff;
	height: 25px;
	width: 220px;
	bottom: 0;
	left: 0;
}
#touming_text{
	text-align: center;
	line-height: 25px;
	width: 220px;
	bottom: 0;
	left: 0;
}
.huodongxize{
	margin-bottom: 6px;
	width: 100%;
}
#img_dd{
	line-height: 26px;
}
#lou__img{
	float: left;
}
