#ymj{ position:fixed; right:20px; bottom:0; width:196px; height:140px; z-index:999}
.close{ background:url(http://img10.yesmywine.com/newWeb/images/chengdu/close.jpg); width:15px; height:14px; display:block; text-indent:-999px; overflow:hidden; float:right}
.hidden{ display:none}